<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppLSObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AppLSTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A120AB51AEE585C00CA6505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A120AC01AEE585C00CA6505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB3E41F1AF06527004720D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB3E4371AF06527004720D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
